header {
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
   justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    z-index: 100;
    font-family: 'League Spartan', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    gap:36px;
    justify-content: center;
}

.nav-links li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: #444;
    transition: 0.3s;
}
.nav-links li a:hover {
    color:#0056b3;
}
.contact-btn{
    background:white;
    color:#0056b3;
    padding: 10px 22px;
    border-radius: 1px;
    border-color: #0056b3;
    text-decoration: none;
  margin-right: 90px;
    
}


.hero{
    width:100% ;
    height: 700px;
   background-image: url(Screenshot\ 2025-11-26\ 215152.png);
  background-repeat: no-repeat;
  background-size: cover;
   
}
.text-box {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);

    color:black;
    font-family: 'League Spartan', sans-serif;
}
.text-box h1 {
    font-size: 50px;
    font-weight: 5500;
}
.text-box p{

    margin-top: 10px;
}
.blue-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #007bff; 
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.blue-btn:hover {
    background-color: #0056b3;
}

.expert{
    width: 100%;
    height: 500px;
    background-color: white;

}


